<launch>
    <node pkg="static_map" type="static_map_node" name="static_map_node">
        <param name="pcd_file" value="$(find static_map)/map_file/yuquan_46w.pcd" />
        <param name="map_frame" value="map" />
        <param name="duration" value="1.0" />
        <remap from="/static_map" to="/map/point_cloud" />
    </node>

    <node pkg="monitor" type="server.py" name="server" output="screen"/>
    <node pkg="rviz" type="rviz" name="Rviz_for_ndt_localization" args="-d $(find visualization)/rviz/visualization.rviz" />
    <node pkg="map_server" type="map_server" name="global_cost_map_node" args="$(find static_map)/map_file/map.yaml"/>
</launch>